*.pyc
*~
__pycache__
myvenv
db.sqlite3
/static
.DS_Store
*bkp*
_config.yml
.env
locale/*/LC_MESSAGES/django.mo
/media
bin/
include/
pip-selfcheck.json
fixture.json
.Python
docs/_build/
*.log
.vscode
.venv
.coverage
ideax/static/admin
ideax/static/djcelery
ideax/static/martor
ideax/static/plugins
ideax/static/tinymce
ideax/static/django_extensions
ideax/static/mptt
