{% load staticfiles i18n %}
{% load gravatar %}
{% load notifications_tags %}
<!-- Current language: {{request.LANGUAGE_CODE }} -->
<!-- -->

<html>
    <head>

        <title>Ideia X {%if idea %} #{{idea.id}} - {{idea.category.title}} {%endif%}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/idea.css' %}">
        <!-- <link rel="stylesheet" href="{% static 'css/cropper.min.css' %}">-->
        <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}"> 
        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.4.3/cropper.min.css" /> -->
        <!-- Fontes -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
        {% include 'ideax/includes/piwik.js' %}
        <script src="{% static '/js/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static '/js/waypoints/lib/jquery.waypoints.min.js' %}"></script>
        <script src="{% static '/js/waypoints/lib/shortcuts/infinite.min.js' %}"></script>
        <script type="text/javascript" src="{% url 'javascript-catalog' %}" > </script>

        <script>
          var django = django || {};
          django.jQuery = jQuery
        </script>

        <script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
        <script type="text/javascript" src="{% static 'admin/js/SelectBox.js' %}"></script>
        <script type="text/javascript" src="{% static 'admin/js/SelectFilter2.js' %}"></script>

        <script src='https://www.google.com/recaptcha/api.js'></script>
        {{ form.media }}
    </head>
    <body>
      <!-- Image and text -->
      {% block top %}
      {% if user.is_authenticated %}
      <ul id="notificationsDropdown" class="dropdown-content">
          {% if boolnotify %}
          <li>
              {% trans 'No new notifications!' %}
          </li>
        {% else %}
          {% for notification in notifications %}
            {% if notification.verb == 'comment' or notification.verb == 'like' %}
              <li><a href="{% url 'idea_detail' pk=notification.target.pk %}" class="dropdown-item notification-item"><i class="{{ notification.data.icon_class }}"></i> {{notification.actor}} {{notification.description}} {% trans 'at' %} {{notification.timestamp|date:"d/m/Y H:i" }}</a></li>
            {% else %}
               <li><a href="{% url 'idea_detail' pk=notification.target.pk %}" class="dropdown-item notification-item"><i class="{{ notification.data.icon_class }}"></i>{{notification.description}}</a></li>
            {% endif %}
          {% endfor%}
          <div class="dropdown-header notifications-header">
                  <h6>Mark all as read</h6>
                  <a href="" onclick="dismissAll()">
                      <i class="fas fa-check"></i>
                  </a>
                </div>
        {% endif %}
       
      </ul>
      <ul id="optionsDropdown" class="dropdown-content">
          <li><a   href="{% url 'users:profile' username=user.username %}">{% trans 'Profile' %}</a></li>
          <li><a   href="{% url 'users:whoinnovates' %}">{% trans 'Who Innovates' %}</a></li>
          <li class="divider"></li>
          <li><a   href="/">{% trans 'Explore Ideas' %}</a></li>
          <li><a  href="{% url 'challenge_list' %}">{% trans 'Challenges' %}</a></li>
          <li><a  href="{% url 'use_term' %}">{% trans 'Active Terms of Use and Privacy' %}</a></li>
          {% if perms.ideax.manage_idea %}
            <li><a  href="{% url 'administration:index' %}">{% trans 'Administration' %}</a></li>
          {% endif %}
          <li><a  href="{% url 'users:logout' %}">{% trans 'Logout' %}</i></a></li>
        </ul>
        {% endif %}
        <div class="navbar-fixed">
          <nav class="nav-bg">
            <div class="nav-wrapper">
                <a id="idea-logo" class="navbar-brand left" href="/">
                  <img src="{% static 'images/logo_horizontal.png' %}" height="30" class="d-inline-block align-top" alt="">
                </a>
                {% if user.is_authenticated %}
              <ul id="nav-action-parent" class="right hide-on-med-and-down ">
                <li class="user-greet nav-item">
                    <span class="navbar-text avatar">
                        {% gravatar user.email 20 %}
                    </span>
                    <span class="navbar-text">
                      {% blocktrans with name=user.username %}Hi, {{name}}!{% endblocktrans %}
                    </span>
                </li>
                <li class="nav-item">
                  <a id="notificationsTrigger" href="#" class="dropdown-trigger" data-target="notificationsDropdown">
                      <i class="fas fa-bell" style="color:white;"> </i>
                      {% if qtde %}
                      <span id="notificationCount">{{ qtde }}</span>
                      {% endif %}
                  </a>
                </li>
                <!-- Dropdown Trigger -->
                <li id="options-trigger" class="dropdown-trigger nav-item" data-target="optionsDropdown"> 
                  <a  href="#!" >
                      <i class="fas fa-bars fa-lg"></i>  
                  </a>
                </li>
                {% else %}
  
                {% endif %}
              </ul>
            </div>
          </nav>
        </div>
        
      {% endblock %}

      {% if user.is_authenticated %}
        {%block contextbutton%}

        <div class="fixed-action-btn">
                <a id="idea-float-btn" class="btn-floating btn-large blue-grey darken-4" href="/idea/new/" title="{% trans 'New Idea' %}"><i class="fas fa-plus"></i><i class="fas fa-lightbulb fa-2x"></i></a>
   
          </div>
        
           {% endblock %}
      {% endif %}

      <div class="content ideax-body {% if user.is_authenticated %}container-fluid{% endif %}">
        {% block content %}
        {% endblock %}
      </div>

      <div class="modal fade" id="modal-term" data-backdrop="static" data-keyboard="false" data-url="{% url 'term_of_use' %}">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <div class="modal-title">
                <h4 class="title-modal-term">{% trans 'Terms of use' %}</h4>
              </div>
            </div>
            <div class="modal-body" id="modal-term-text">
              {% trans 'Terms of use' %}
            </div>
            <div class="modal-footer">
              <a type="button" href="{% url 'users:logout' %}" class="btn btn-light">{% trans 'Cancel' %}</a>
              <a type="button" href="{% url 'accept_term' %}" class="btn btn-success">{% trans 'Accept' %}</a>

            </div>
          </div>
        </div>
      </div>
      {% include 'ideax/includes/footer.html' %}

      <script src="{% static '/js/materialize.min.js' %}"></script>
      <script src="{% static '/js/popper.min.js' %}"></script>

      <script src="{% static '/js/fontawesome-all.min.js' %}"></script>
      <!-- <script src="{% static '/js/fontawesome.js' %}"></script> -->
      <script src="{% static '/js/idea.js' %}"></script>
      <script src="{% static '/js/modal.js' %}"></script>
      <script src="{% static '/js/dashboard.js' %}"></script>
      <script src="{% static '/js/timeline.js' %}"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.4.3/cropper.min.js" integrity="sha256-xqnUCb6f1p7h5IqwwOJ7kHsGm9bRUgsrUe3VQNuqzUE=" crossorigin="anonymous"></script>

      {% block footer %}
        <!--script bootstrap-->
        <!-- <script src="{% static '/js/bootstrap.min.js' %}"></script> -->
      {% endblock %}
      {% if user.is_authenticated and not user.userprofile.use_term_accept%}
      <script>
            $("#modal-term").modal("show");
            getUserTerm("#modal-term-text", $("#modal-term").attr("data-url"));
      </script>
      {% endif %}
      </body>
    </html>
