{% extends 'ideax/base.html' %}
{% load widget_tweaks i18n staticfiles %}


{%block contextbutton%}
<div class="fab-button">
  <a class="btn btn-idea-new btn-primary" href="/challenge/new/" title="{% trans 'New Challenge' %}"><i class="fas fa-plus"></i><i class="fas fa-bullhorn fa-2x"></i></a>
</div>
{% endblock %}

{% block content %}
  <div class="challenge-list-bg">
      <h1 class="display-3">{% trans 'Explore Challenges' %}</h1>
  </div>
  <div class="container">
    {% for message in messages %}
      <div class="alert alert-dismissible alert-{% if message.tags == 'error' %}danger{%else%}{{message.tags}}{%endif%}">
          <button type="button" class="close" data-dismiss="alert">×</button>
          {{ message }}
      </div>
    {% endfor %}
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-10">
        <div id="carouselExampleIndicators">
          <div class="carousel-inner">
            {% for challenge in challenges %}
            <div class="carousel-item active challenge-item" style="margin-top: 20px;">
              <img class="d-block w-100" src="{{challenge.image.url}}" alt="First slide">
              <a href="{% url 'challenge_detail' challenge_pk=challenge.pk %}">
                  <div class="carousel-caption d-none d-md-block carousel-challenge" >
                    <h5>{{challenge.title}}</h5>
                    <p>{{challenge.summary}}</p>
                  </div>
              </a>
              <div class="challenge-buttons">
                <a onclick="location.href='{% url 'challenge_remove' pk=challenge.pk %}';" class="delete btn btn-primary"><i class="far fa-trash-alt"></i></a>
                <a onclick="location.href='{% url 'challenge_edit' challenge_pk=challenge.pk %}';" class="edit btn btn-primary"><i class="far fa-edit"></i></a>
              </div>
            </div>

            {% empty %}
              <p style="text-align:center">No Challenges found</p>
            {%endfor%}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
