{% extends 'ideax/base.html' %}
{% load widget_tweaks i18n staticfiles %}


{%block contextbutton%}
<div class="fab-button">
  <a class="btn btn-idea-new btn-primary" href="/challenge/new/" title="{% trans 'New Challenge' %}"><i class="fas fa-plus"></i><i class="fas fa-bullhorn fa-2x"></i></a>
</div>
{% endblock %}

{% block content %}
  <div class="challenge-list-bg">
      <h1 class="display-3">{% trans 'Explore Challenges' %}</h1>
  </div>
  <div class="container">
    {% for message in messages %}
      <div class="alert alert-dismissible alert-{% if message.tags == 'error' %}danger{%else%}{{message.tags}}{%endif%}">
          <button type="button" class="close" data-dismiss="alert">×</button>
          {{ message }}
      </div>
    {% endfor %}
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-10">
        <div id="carouselExampleIndicators">
          <div class="carousel-inner">
            {% for challenge in challenges %}
            <div class="carousel-item active challenge-item" style="margin-top: 20px;">
              <img class="d-block w-100" src="{{challenge.image.url}}" alt="First slide">
              <a href="{% url 'challenge_detail' challenge_pk=challenge.pk %}">
                  <div class="carousel-caption d-none d-md-block carousel-challenge" >
                    <h5>{{challenge.title}}</h5>
                    <p>{{challenge.summary}}</p>
                  </div>
              </a>
              <div class="challenge-buttons">
                <a class="delete btn btn-primary" id="btn-confirm"><i class="far fa-trash-alt"></i></a>
                <a onclick="location.href='{% url 'challenge_edit' challenge_pk=challenge.pk %}';" class="edit btn btn-primary"><i class="far fa-edit"></i></a>
              </div>
            </div>
            
               
            <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="mi-modal">
              <div class="modal-dialog modal-bg modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <p class="modal-title" id="myModalLabel">Would you like to delete the challenge: <span class="bold">{{challenge.title}}</span>?</p>
                  </div>
                  <div class="modal-footer">
                    <button onclick="location.href='{% url 'challenge_remove' pk=challenge.pk %}';" type="button" class="btn btn-default" id="modal-btn-yes">Yes</button>
                    <button type="button" class="btn btn-primary" id="modal-btn-no">No</button>
                  </div>
                </div>
              </div>
            </div>

            {% empty %}
              <p style="text-align:center">No Challenges found</p>
            {%endfor%}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
