{% extends 'ideax/base.html' %}
{% load widget_tweaks i18n %}


{% block content %}
<div class="idea-list-bg">
    <h1 class="display-3">{% trans 'Update Criterion' %}</h1>
</div>
<div class="container">
  <form method="post" class="post-form" novalidate>
    {% csrf_token %}
    {% include 'ideax/includes/base_form.html' with form=form %}
    <a href="{% url 'criterion_list' %}">{% trans 'Return' %}</a>
    <button type="submit" class="btn btn-primary">{% trans 'Update' %}</button>
  </form>
</div>



{% endblock %}
