{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>{% trans 'Idea' %} - {{idea.id}}</title>
  <meta name="author" content="">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{% static 'css/ftec.css' %}" rel="stylesheet">
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
</head>

<body>

  <div class="container">

    <!-- BODY -->
    <header class="row py-2">
      <div class="col">
        <img class="dtp-logo" src="{% static 'images/logo-dtp.png' %}" alt="" />
      </div>
      <div class="col">
        <div class="dept-group">
          <span>Diretoria de Relacionamento, Desenvolvimento e Informações - DRD</span>
          <br />
          <span>Departamento de Inovação - DEIN</span>
          <br />
          <span>Divisão de Estruturação, Processos e Tecnologia para Inovação - DIEP</span>
        </div>
        <div class="meta-info" >
          <span>Processo de Inovação Dataprev</span>
          <br />
          <span>Ficha Técnica da Idéia</span>
        </div>
      </div>
    </header>
    
    <!-- HEADER -->
    <div class="document">
      <!-- PRIMEIRA PÁGINA -->
      <h1 class="doc-title">
        {{idea.title}}
      </h1>
      <div class="doc-body">
        <div class="general-info">
          <div class="info">
            <h3>{% trans 'Oportunity' %}:</h3>
            <p>{{idea.oportunity}}</p>
          </div>
          <div class="info">
            <h3>{% trans 'Solution' %}:</h3>
            <p>{{idea.solution}}</p>
          </div>
          <div class="info">
            <h3>{% trans 'Target' %}:</h3>
            <p>{{idea.target}}</p>
          </div>
        </div>
        <div class="extra-info">
          <h3>{% trans 'Additional Information' %}:</h3>
          <dl class="row">
            <dt class="col-sm-3">{% trans 'Author' %}</dt>
            <dd class="col-sm-9">{{idea.author.user}}</dd>

            <dt class="col-sm-3">{% trans 'Date of registration' %}</dt>
            <dd class="col-sm-9">{{idea.creation_date|date:"d/m/Y H:m"}}</dd>

            <dt class="col-sm-3">{% trans 'Total Score' %}</dt>
            <dd class="col-sm-9">{{idea.score|floatformat:2}}</dd>

            <dt class="col-sm-3">{% trans 'Acceptance Rate' %}</dt>
            <dd class="col-sm-9">{{idea.get_approval_rate|floatformat:2}}%</dd>

            <dt class="col-sm-3">{% trans 'Total Votes' %}</dt>
            <dd class="col-sm-9">{{ idea.count_likes|add:idea.count_dislikes }}</dd>

            <dt class="col-sm-3">{% trans 'Identifier' %} IdeiaX</dt>
            <dd class="col-sm-9">#{{idea.id}}</dd>
          </dl>
        </div>
      </div>
    </div>
    <!-- PRIMEIRA PÁGINA -->
    <!-- SEGUNDA PÁGINA -->
    <div class="document">
      <h2 class="att-id bold">{% trans 'Attachment' %} I</h2>
      <h3 class="att-title">{% trans 'Evaluation of the Innovation Team' %}</h3>
      <h3 class="att-score">{% trans 'Total Score' %}: {{idea.score|floatformat:2}} / 5,0</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Eixo</th>
            <th scope="col">Descrição</th>
            <th scope="col">Nota</th>
          </tr>
        </thead>
        <tbody>
          {% for key,value in evaluation_detail.items %}
            <tr>
              <td>{{value.dimension.title}}</td>
              <td>{{value.dimension.description}}</td>
              <td>{{value.category_dimension.value}} / 5</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <!-- SEGUNDO PÁGINA -->
    <!-- BODY -->
  </div>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script>
    (() => {
      window.print();
    })();
  </script>
</body>
</html>
