{% extends 'ideax/base.html' %}
{% block top %}
{% endblock %}
{% load staticfiles i18n %}

{% block content %}

    <nav style="min-height: 80px; display: flex; align-items: center;justify-content: center;background-color: rgba(0, 0, 0, 0.8);color: #fff;">
      <a href="https://ideia.dataprev.gov.br/hackathon/" style="color: #FFFF;"><b>Hackathon 2018</b> clique aqui para mais informações...</a>
    </nav>
    <div class="brief-explanation">
      <h1>{% trans 'Sharing ideas!' %}</h1>
      <p>{% trans 'An open channel for innovation, getting ideas from all parties, evaluating and making them happen!' %}</p>
      <div class="login-button">
          <button type="button" onclick="location.href='{% url 'users:login' %}';" class="btn btn-warning">{% trans 'Login' %}</button>
          <button type="button" onclick="location.href='{% url 'users:sign-up' %}';" class="btn">{% trans 'Sign Up' %}</button>
      </div>
    </div>
    <div class="idea-launch">
      <div class="launch-text col-md-12 col-lg-6">
          <h2>{% trans 'Launch your ideas for everyone!' %}</h2>
          <p>{% trans 'Ideia<sup>X</sup> is the channel to spread and share your ideas, allowing your peers to contribute, discuss and collaborate to grow it.' %}</p>
          <p>{% trans 'In the same way, you can see other posted ideas, interacting with your opinion and asking to further improve them!' %}</p>
      </div>
      <div class="launch-image col-md-12 col-lg-6" style="text-align: center;">
          <img src="../../static/images/stick_man.png">
      </div>

    </div>

    <div class="functionality">
      <div class="function-list">
        <div class="function-item">
          <h3>{% trans 'Register Ideas' %}</h3>
          <p>{% trans 'All company employees can collaborate. Innovation can come from everyone.' %}</p>
        </div>
        <div class="function-item">
          <h3>{% trans 'Manage Ideas' %}</h3>
          <p>{% trans 'Ideas will be organized, refined and evaluated, allowing a flow for the innovation management.' %}</p>
        </div>
        <div class="function-item">
          <h3>{% trans 'Integration' %}</h3>
          <p>{% trans 'Through APIs is possible to integrate the Idea<sup>X</sup> with other tools.' %}</p>
        </div>
      </div>
    </div>
{% endblock %}
