{% extends 'ideax/base.html' %}
{% load i18n staticfiles %}
{% load widget_tweaks i18n %}

{% block content %}
<div class="challenge-list-bg" id="idea-title">
  <h1>{% trans 'Term Of Use' %}</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12 useterm-detail">
      <p class="text-center">
        <small class="text-muted">{% trans 'By' %}
        <span id="real-author"></span>{{use_term.creator.user}}</small>
      </p>
      <div class="challenge-menu">
        <p> <span class="badge badge-secondary">{% trans 'Expiration Date ' %} : {{use_term.final_date|date:"d/m/Y"}}</span></p>
        <p> <span class="badge badge-secondary">{% trans 'Status ' %} : {% if use_term.is_past_due %}{% trans 'Active' %}{% else %}{% trans 'Inactive' %}{% endif %}</span></p>
      </div>
    </div>
  </div>
  <hr>
  <div class="use-term-paragraph">
    <pre-wrap width="80"> 
      {{ use_term.term|safe }}
    </pre-wrap>
  </div>
  <hr>
  <div class="button-group">
    <a href="{% url 'use_term_list' %}">{% trans 'Return' %}</a>
    <button type="button" onclick="location.href='{% url 'use_term_edit' pk=use_term.pk %}';" class="btn btn-primary"> {% trans 'Edit' %} </button>
  </div>
</div>
{% endblock %}
