{% load widget_tweaks i18n %}

<form method="post" class="post-form js-use_term-remove-form"
action="{% url 'use_term_remove' use_term.id %}"
data-modal="#modal-use_term-crud"
data-list-div="#use_term-list">
  {% csrf_token %}

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"
    aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">{% trans 'Confirm use term removal' %}</h4>
  </div>


  <div class="modal-body">
    <p class="lead">
      {% trans 'Would you like to delete the use term?' %}
      <strong>{{use_term.description}}</strong> ?
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default"
    data-dismiss="modal">{% trans 'Close' %}</button>
    <button type="submit" class="btn btn-primary">{% trans 'Discard' %}</button>
  </div>
</form>
