{% load widget_tweaks i18n %}

<table class="table table-category">
  <thead>
    <tr>
      <th>{% trans 'Title' %}</th>
      <th>{% trans 'Description' %}</th>
      <th>{% trans 'Edit' %}</th>
      <th>{% trans 'Discard' %}</th>
    </tr>
  </thead>
  <tbody>
    {% for category in category_list %}
      <tr>
        <td>{{category.title}}</td>
        <td>{{category.description}}</td>
        <div class="button-group">
          <td><button type="button" class="btn" onclick="location.href='{% url 'category_edit' pk=category.pk %}';"><i class="fa fa-edit"></i></button></td>
          <td><button type="button" class="btn" onclick="location.href='{% url 'category_remove' pk=category.pk %}';"><i class="fa fa-trash"></i></button></td>
        </div>
      </tr>
    {% endfor %}
</tbody>
</table>
