{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>{% trans 'Idea' %} - {{idea.id}}</title>
  <meta name="author" content="">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{% static 'css/ftec.css' %}" rel="stylesheet">
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
</head>

<body>
  <!-- BODY -->
  <div class="ftec-header">
    <img class="dtp-logo" src="{% static 'images/logo-dtp.png' %}" alt="">
    <div class="header-text-container">
      <div class="dept-group">
        <p>Diretoria de Relacionamento, Desenvolvimento e Informações - DRD</p>
        <p>Departamento de Inovação - DEIN</p>
        <p>Divisão de Estruturação, Processos e Tecnologia para Inovação - DIEP</p>
      </div>
      <div class="meta-info" >
        <p>Processo de Inovação Dataprev</p>
        <p>Ficha Técnica da Idéia</p>
      </div>
    </div>
  </div>
  <!-- HEADER -->
  <div class="document">
    <!-- PRIMEIRA PÁGINA -->
    <h1 class="doc-title">
      {{idea.title}}
    </h1>
    <div class="doc-body">
      <div class="general-info">
        <div class="info">
          <h3>{% trans 'Oportunity' %}:</h3>
          <p>{{idea.oportunity}}</p>
        </div>
        <div class="info">
          <h3>{% trans 'Solution' %}:</h3>
          <p>{{idea.solution}}</p>
        </div>
        <div class="info">
          <h3>{% trans 'Target' %}:</h3>
          <p>{{idea.target}}</p>
        </div>
      </div>
      <div class="extra-info">
        <h3>{% trans 'Additional Information' %}:</h3>
        <ul>
          <li><span class="bold">{% trans 'Author' %}: </span>{{idea.author.user}}</li>
          <li><span class="bold">{% trans 'Date of registration' %}: ​</span>{{idea.creation_date|date:"d/m/Y H:m"}}</li>
          <li><span class="bold">{% trans 'Total Score' %}: </span>{{idea.score|floatformat:2}}</li>
          <li><span class="bold">{% trans 'Acceptance Rate' %}:​ </span>{{idea.get_approval_rate|floatformat:2}}%</li>
          <li><span class="bold">{% trans 'Total Votes' %}: </span>{{ idea.count_likes|add:idea.count_dislikes }}</li>
          <li><span class="bold">{% trans 'Identifier' %} IdeiaX: </span>#{{idea.id}}</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- PRIMEIRA PÁGINA -->
  <!-- SEGUNDA PÁGINA -->
  <div class="document">
    <h2 class="att-id bold">{% trans 'Attachment' %} I</h2>
    <h3 class="att-title">{% trans 'Evaluation of the Innovation Team' %}</h3>
    <h3 class="att-score">{% trans 'Total Score' %}: {{idea.score|floatformat:2}} / 5,0</h3>
    <div class="evaluation-group">
      {%for key,value in evaluation_detail.items %}
      <div class="eval">
        <p><span class="eval-title">{{value.dimension.title}}: </span>{{value.dimension.description}}</p>
        <ul>
          <li><span class="bold">Nota: </span>{{value.category_dimension.value}} / 5</li>
        </ul>
      </div>
      {% endfor %}
    </div>
  </div>
  <!-- SEGUNDO PÁGINA -->
  <!-- BODY -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</body>
</html>
